.site-footer {
	padding: rem-calc(35 68 35 84);
	background: $sennza-purple;
	color: #fff;
	.socials {
		float: left;
		a .genericon {
			display: inline-block;
			color: #bfb5c8;
			height: rem-calc(39);
			width: rem-calc(39);
			font-size: rem-calc(39);
			margin-right: rem-calc(5);
			&:hover {
				color: $sennza-lightest-purple;
			}
		}
	}
	.address {
		float: right;
		padding: rem-calc(6 0 12 0);
		font-size: rem-calc(14);
		color: #bfb5c8;
	}
	.address strong {
		color: #fff;
	}
}
.copyright {
	text-align: center;
	color: #9f9f9f;
	font-size: rem-calc(14);
	padding: rem-calc(30 0);
	strong {
		font-family: 'Helvetica Neue Bold', $body-font-family;
	}
}